{
  "swagger": "2.0",
  "host": "st-125067.dynamicstocloud.com:1123",
  "produces": [
    "application/json"
  ],
  "basePath": "/",
  "info": {
    "title": "OData Service",
    "version": "0.0.1",
    "x-odata-version": "4.0"
  },
  "paths": {
    "/InsertItem": {
      "post": {
        "operationId": "InsertItem",
        "summary": "InsertItem",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.InsertItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.InsertItem"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/NewEANCode": {
      "post": {
        "operationId": "NewEANCode",
        "summary": "NewEANCode",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.NewEANCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New EAN",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.NewEANCode"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesOrderHeader": {
      "get": {
        "operationId": "getSalesOrderHeader",
        "summary": "getSalesOrderHeader",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesOrderHeader",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesOrderHeader"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesOrderHeader",
        "summary": "createSalesOrderHeadersalesOrderHeader",
        "parameters": [
          {
            "name": "salesOrderHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderHeader"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesOrderHeader('{documentType}','{documentNo}')": {
      "get": {
        "operationId": "getSalesOrderHeaderById",
        "summary": "getSalesOrderHeadersalesOrderHeaderById",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesOrderHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesOrderHeader",
        "summary": "deleteSalesOrderHeadersalesOrderHeader",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesOrderHeader",
        "summary": "updateSalesOrderHeadersalesOrderHeader",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "salesOrderHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderHeader"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesOrderHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderHeader"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesOrderLines": {
      "get": {
        "operationId": "getSalesOrderLines",
        "summary": "getSalesOrderLines",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesOrderLine",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesOrderLine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesOrderLine",
        "summary": "createSalesOrderLinessalesOrderLine",
        "parameters": [
          {
            "name": "salesOrderLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderLine"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesOrderLines('{documentType}','{documentNo}',{lineNo})": {
      "get": {
        "operationId": "getSalesOrderLineById",
        "summary": "getSalesOrderLinessalesOrderLineById",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesOrderLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesOrderLine",
        "summary": "deleteSalesOrderLinessalesOrderLine",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesOrderLine",
        "summary": "updateSalesOrderLinessalesOrderLine",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "salesOrderLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesOrderLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesOrderLine"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesInvoicesHeader": {
      "get": {
        "operationId": "getSalesInvoicesHeader",
        "summary": "getSalesInvoicesHeader",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesInvoiceHeader",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesInvoiceHeader"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesInvoiceHeader",
        "summary": "createSalesInvoicesHeadersalesInvoiceHeader",
        "parameters": [
          {
            "name": "salesInvoiceHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceHeader"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesInvoicesHeader('{documentNo}')": {
      "get": {
        "operationId": "getSalesInvoiceHeaderById",
        "summary": "getSalesInvoicesHeadersalesInvoiceHeaderById",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesInvoiceHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesInvoiceHeader",
        "summary": "deleteSalesInvoicesHeadersalesInvoiceHeader",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesInvoiceHeader",
        "summary": "updateSalesInvoicesHeadersalesInvoiceHeader",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "salesInvoiceHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceHeader"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesInvoiceHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceHeader"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesInvoiceLines": {
      "get": {
        "operationId": "getSalesInvoiceLines",
        "summary": "getSalesInvoiceLines",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesInvoiceLine",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesInvoiceLine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesInvoiceLine",
        "summary": "createSalesInvoiceLinessalesInvoiceLine",
        "parameters": [
          {
            "name": "salesInvoiceLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceLine"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesInvoiceLines('{documentNo}',{lineNo})": {
      "get": {
        "operationId": "getSalesInvoiceLineById",
        "summary": "getSalesInvoiceLinessalesInvoiceLineById",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesInvoiceLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesInvoiceLine",
        "summary": "deleteSalesInvoiceLinessalesInvoiceLine",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesInvoiceLine",
        "summary": "updateSalesInvoiceLinessalesInvoiceLine",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "salesInvoiceLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesInvoiceLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesInvoiceLine"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesShipmentsHeader": {
      "get": {
        "operationId": "getSalesShipmentsHeader",
        "summary": "getSalesShipmentsHeader",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesShipmentHeader",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesShipmentHeader"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesShipmentHeader",
        "summary": "createSalesShipmentsHeadersalesShipmentHeader",
        "parameters": [
          {
            "name": "salesShipmentHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentHeader"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesShipmentsHeader('{documentNo}')": {
      "get": {
        "operationId": "getSalesShipmentHeaderById",
        "summary": "getSalesShipmentsHeadersalesShipmentHeaderById",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesShipmentHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesShipmentHeader",
        "summary": "deleteSalesShipmentsHeadersalesShipmentHeader",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesShipmentHeader",
        "summary": "updateSalesShipmentsHeadersalesShipmentHeader",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "salesShipmentHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentHeader"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesShipmentHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentHeader"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesShipmentLines": {
      "get": {
        "operationId": "getSalesShipmentLines",
        "summary": "getSalesShipmentLines",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesShipmentLine",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesShipmentLine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesShipmentLine",
        "summary": "createSalesShipmentLinessalesShipmentLine",
        "parameters": [
          {
            "name": "salesShipmentLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentLine"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesShipmentLines('{documentNo}',{lineNo})": {
      "get": {
        "operationId": "getSalesShipmentLineById",
        "summary": "getSalesShipmentLinessalesShipmentLineById",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesShipmentLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesShipmentLine",
        "summary": "deleteSalesShipmentLinessalesShipmentLine",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesShipmentLine",
        "summary": "updateSalesShipmentLinessalesShipmentLine",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "salesShipmentLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesShipmentLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesShipmentLine"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesCrMemosHeader": {
      "get": {
        "operationId": "getSalesCrMemosHeader",
        "summary": "getSalesCrMemosHeader",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesCrMemoHeader",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesCrMemoHeader"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesCrMemoHeader",
        "summary": "createSalesCrMemosHeadersalesCrMemoHeader",
        "parameters": [
          {
            "name": "salesCrMemoHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesCrMemoHeader"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesCrMemoHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesCrMemosHeader('{documentNo}')": {
      "get": {
        "operationId": "getSalesCrMemoHeaderById",
        "summary": "getSalesCrMemosHeadersalesCrMemoHeaderById",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesCrMemoHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesCrMemoHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesCrMemoHeader",
        "summary": "deleteSalesCrMemosHeadersalesCrMemoHeader",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesCrMemoHeader",
        "summary": "updateSalesCrMemosHeadersalesCrMemoHeader",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "salesCrMemoHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesCrMemoHeader"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesCrMemoHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesCrMemoHeader"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salescrMemoLines": {
      "get": {
        "operationId": "getSalescrMemoLines",
        "summary": "getSalescrMemoLines",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salescrMemoLine",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salescrMemoLine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalescrMemoLine",
        "summary": "createSalescrMemoLinessalescrMemoLine",
        "parameters": [
          {
            "name": "salescrMemoLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salescrMemoLine"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salescrMemoLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salescrMemoLines('{documentNo}',{lineNo})": {
      "get": {
        "operationId": "getSalescrMemoLineById",
        "summary": "getSalescrMemoLinessalescrMemoLineById",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A salescrMemoLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salescrMemoLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalescrMemoLine",
        "summary": "deleteSalescrMemoLinessalescrMemoLine",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalescrMemoLine",
        "summary": "updateSalescrMemoLinessalescrMemoLine",
        "parameters": [
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "salescrMemoLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salescrMemoLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salescrMemoLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salescrMemoLine"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/items": {
      "get": {
        "operationId": "getItems",
        "summary": "getItems",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of item",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.item"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createItem",
        "summary": "createItemsitem",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.item"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.item"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/items('{no}')": {
      "get": {
        "operationId": "getItemById",
        "summary": "getItemsitemById",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A item.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.item"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteItem",
        "summary": "deleteItemsitem",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateItem",
        "summary": "updateItemsitem",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A item.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.item"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/shiptoAddress": {
      "get": {
        "operationId": "getShiptoAddress",
        "summary": "getShiptoAddress",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of shiptoAddress",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.shiptoAddress"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createShiptoAddress",
        "summary": "createShiptoAddressshiptoAddress",
        "parameters": [
          {
            "name": "shiptoAddress",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.shiptoAddress"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.shiptoAddress"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/shiptoAddress('{customerNo}','{code}')": {
      "get": {
        "operationId": "getShiptoAddressById",
        "summary": "getShiptoAddressshiptoAddressById",
        "parameters": [
          {
            "name": "customerNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "code",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A shiptoAddress.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.shiptoAddress"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteShiptoAddress",
        "summary": "deleteShiptoAddressshiptoAddress",
        "parameters": [
          {
            "name": "customerNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "code",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateShiptoAddress",
        "summary": "updateShiptoAddressshiptoAddress",
        "parameters": [
          {
            "name": "customerNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "code",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "shiptoAddress",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.shiptoAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A shiptoAddress.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.shiptoAddress"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesQuoteHeader": {
      "get": {
        "operationId": "getSalesQuoteHeader",
        "summary": "getSalesQuoteHeader",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesQuoteHeader",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesQuoteHeader"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesQuoteHeader",
        "summary": "createSalesQuoteHeadersalesQuoteHeader",
        "parameters": [
          {
            "name": "salesQuoteHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteHeader"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesQuoteHeader('{documentType}','{documentNo}')": {
      "get": {
        "operationId": "getSalesQuoteHeaderById",
        "summary": "getSalesQuoteHeadersalesQuoteHeaderById",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesQuoteHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesQuoteHeader",
        "summary": "deleteSalesQuoteHeadersalesQuoteHeader",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesQuoteHeader",
        "summary": "updateSalesQuoteHeadersalesQuoteHeader",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "salesQuoteHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteHeader"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesQuoteHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteHeader"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesQuoteLines": {
      "get": {
        "operationId": "getSalesQuoteLines",
        "summary": "getSalesQuoteLines",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of salesQuoteLine",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.salesQuoteLine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesQuoteLine",
        "summary": "createSalesQuoteLinessalesQuoteLine",
        "parameters": [
          {
            "name": "salesQuoteLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteLine"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesQuoteLines('{documentType}','{documentNo}',{lineNo})": {
      "get": {
        "operationId": "getSalesQuoteLineById",
        "summary": "getSalesQuoteLinessalesQuoteLineById",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A salesQuoteLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteLine"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSalesQuoteLine",
        "summary": "deleteSalesQuoteLinessalesQuoteLine",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSalesQuoteLine",
        "summary": "updateSalesQuoteLinessalesQuoteLine",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "documentNo",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "salesQuoteLine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A salesQuoteLine.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.salesQuoteLine"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesOrderHeader": {
      "get": {
        "operationId": "getQuerySalesOrderHeader",
        "summary": "getQuerySalesOrderHeader",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of querySalesOrderHeader",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.querySalesOrderHeader"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createQuerySalesOrderHeader",
        "summary": "createQuerySalesOrderHeaderquerySalesOrderHeader",
        "parameters": [
          {
            "name": "querySalesOrderHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesOrderHeader"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesOrderHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesOrderHeader('{documentType}','{no}',{lineNo},'{barCode}','{auxiliaryIndex1}','{auxiliaryIndex2}','{auxiliaryIndex3}','{auxiliaryIndex4}','{auxiliaryIndex5}','{auxiliaryIndex6}','{auxiliaryIndex7}')": {
      "get": {
        "operationId": "getQuerySalesOrderHeaderById",
        "summary": "getQuerySalesOrderHeaderquerySalesOrderHeaderById",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex7",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesOrderHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesOrderHeader"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteQuerySalesOrderHeader",
        "summary": "deleteQuerySalesOrderHeaderquerySalesOrderHeader",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex7",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateQuerySalesOrderHeader",
        "summary": "updateQuerySalesOrderHeaderquerySalesOrderHeader",
        "parameters": [
          {
            "name": "documentType",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex7",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "querySalesOrderHeader",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesOrderHeader"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesOrderHeader.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesOrderHeader"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesInvoice": {
      "get": {
        "operationId": "getQuerySalesInvoice",
        "summary": "getQuerySalesInvoice",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of querySalesInvoice",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.querySalesInvoice"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createQuerySalesInvoice",
        "summary": "createQuerySalesInvoicequerySalesInvoice",
        "parameters": [
          {
            "name": "querySalesInvoice",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesInvoice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesInvoice"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesInvoice('{no}',{lineNo},'{barCode}','{auxiliaryIndex1}','{auxiliaryIndex2}','{auxiliaryIndex3}','{auxiliaryIndex4}','{auxiliaryIndex5}','{auxiliaryIndex6}')": {
      "get": {
        "operationId": "getQuerySalesInvoiceById",
        "summary": "getQuerySalesInvoicequerySalesInvoiceById",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesInvoice.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesInvoice"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteQuerySalesInvoice",
        "summary": "deleteQuerySalesInvoicequerySalesInvoice",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateQuerySalesInvoice",
        "summary": "updateQuerySalesInvoicequerySalesInvoice",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "querySalesInvoice",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesInvoice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesInvoice.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesInvoice"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesCrMemo": {
      "get": {
        "operationId": "getQuerySalesCrMemo",
        "summary": "getQuerySalesCrMemo",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of querySalesCrMemo",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.querySalesCrMemo"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createQuerySalesCrMemo",
        "summary": "createQuerySalesCrMemoquerySalesCrMemo",
        "parameters": [
          {
            "name": "querySalesCrMemo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesCrMemo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesCrMemo"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesCrMemo('{no}',{lineNo},'{barCode}','{auxiliaryIndex1}','{auxiliaryIndex2}','{auxiliaryIndex3}','{auxiliaryIndex4}','{auxiliaryIndex5}','{auxiliaryIndex6}')": {
      "get": {
        "operationId": "getQuerySalesCrMemoById",
        "summary": "getQuerySalesCrMemoquerySalesCrMemoById",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesCrMemo.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesCrMemo"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteQuerySalesCrMemo",
        "summary": "deleteQuerySalesCrMemoquerySalesCrMemo",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateQuerySalesCrMemo",
        "summary": "updateQuerySalesCrMemoquerySalesCrMemo",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "querySalesCrMemo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesCrMemo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesCrMemo.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesCrMemo"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesShipment": {
      "get": {
        "operationId": "getQuerySalesShipment",
        "summary": "getQuerySalesShipment",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of querySalesShipment",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.NAV.querySalesShipment"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createQuerySalesShipment",
        "summary": "createQuerySalesShipmentquerySalesShipment",
        "parameters": [
          {
            "name": "querySalesShipment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesShipment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesShipment"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/querySalesShipment('{no}',{lineNo},'{barCode}','{auxiliaryIndex1}','{auxiliaryIndex2}','{auxiliaryIndex3}','{auxiliaryIndex4}','{auxiliaryIndex5}','{auxiliaryIndex6}')": {
      "get": {
        "operationId": "getQuerySalesShipmentById",
        "summary": "getQuerySalesShipmentquerySalesShipmentById",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesShipment.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesShipment"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteQuerySalesShipment",
        "summary": "deleteQuerySalesShipmentquerySalesShipment",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateQuerySalesShipment",
        "summary": "updateQuerySalesShipmentquerySalesShipment",
        "parameters": [
          {
            "name": "no",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "lineNo",
            "required": true,
            "in": "path",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "barCode",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex1",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex2",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex3",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex4",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex5",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "auxiliaryIndex6",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "querySalesShipment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesShipment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A querySalesShipment.",
            "schema": {
              "$ref": "#/definitions/Microsoft.NAV.querySalesShipment"
            }
          },
          "204": {
            "description": "Empty response."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/queryCustomer": {
      "get": {
        "operationId": "getQueryCustomer",
        "summary": "getQueryCustomer",
        "parameters": [
          {
            "name": "$filter",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$top",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$skip",
            "type": "integer",
            "required": false,
            "in": "query"
          },
          {
            "name": "$orderby",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$expand",
            "type": "string",
            "required": false,
            "in": "query"
          },
          {
            "name": "$count",
            "type": "boolean",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of queryCustomer",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
[...]
